body {
	background-color: black;
	color: white;
}

.card {
	height: 100px;
	cursor: pointer;
	margin: 10px 70px;
}

.front {
	/*background-image: url('background_pic.jpg');*/
	/*background-size: 100%;*/
	padding-top: 8px;
	padding-right: 15px;
}

.back {
	color: black !important;
	padding-top: 15px;
	margin-right: 100px;
}
.pic {
	width: auto;
	height: 82px;
}
.pic2{
	height: 70px;
	width: auto;
}

.match {
	display: none;
}

.no_match {
	display: none;
}

.matched {
	background-color: black;

}

.txt {
	margin-left: 50px;
	
}